//
// Hoja de estilo para Surrealista.mx
//

@import "attache";
@import "//cloud.typography.com/671958/743122/css/fonts.css";

$ff-normal: 'Archer SSm A', 'Archer SSm B';
$c-principal: #DA275E;


@font-face {
	font-family: "social";
	src: url('/fonts/ss-social-circle.eot');
	src: url('/fonts/ss-social-circle.eot?#iefix') format('embedded-opentype'),
		url('/fonts/ss-social-circle.woff') format('woff'),
		url('/fonts/ss-social-circle.ttf')  format('truetype'),
		url('/fonts/ss-social-circle.svg#SSSocialRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}


body {
	font-family: $ff-normal;
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: none;
}

#logo {
	width: 120px;
	height: 104px;
	background: url(/logo.png) 50% 50% / 120px 104px no-repeat;
	margin: 0 auto;
}

header {
	background-image: url(/escritorio.jpg);
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;

	padding: 100px 0;

	color: #fff;
	text-align: center;

	& > h1 {
		margin: 12px 0 0;

		font-size: 24px;
		text-transform: uppercase;
		text-shadow: 0 1px 5px rgba(0,0,0, 0.5);
	}

	& > p {
		margin: 0;

		color: #eee;
		font-size: 18px;
		font-weight: bold;
		text-shadow: 0 1px 5px rgba(0,0,0, 0.5);
	}

	& > a {
		color: #fff;
		text-decoration: none;

		background: rgba(255,255,255, 0.1);
		display: block;
		width: 100px;

		border: 1px solid #fff;
		padding: 10px;
		margin: 15px auto 0;

		@include transition(0.2s ease background);
		@include border-radius(10px);

		&:hover {
			background: rgba(255,255,255, 0.3);
		}
	}
}

section {
	padding: 50px 0 75px;
	@include box-shadow(inset 0 1px rgba(255,255,255, 0.8));

	& > p {
		width: 95%;
		max-width: 600px;
		margin: 16px auto;

		font-size: 16px;
		line-height: 1.5;
	}

	& > h2 {
		width: 95%;
		max-width: 800px;
		margin: 48px auto 0;

		font-size: 22px;
		text-align: center;

	}

	& > h1 {
		margin: 24px 0;

		font-size: 32px;
		font-weight: normal;
		text-align: center;
	}

	a {
		color: $c-principal;
		text-decoration: none;
		border-bottom: 1px dotted $c-principal;
	}

	& > ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

#queHacemos 	{ background: #eee; }
#contacto 		{ background: #ccc; @include clearfix;}
#quienesSomos 	{ background: #666; color: #fff; }

.opcionesContacto {
	width: 95%;
	max-width: 600px;
	margin: 0 auto;
}
.opcionContacto {
	width: 100%;
	text-align: center;

	a {
		color: #000;

		&:hover {
			color: $c-principal;
		}
	}

	.icono {
		font-size: 24px;

		position: relative;
		top: 6px;

		margin-right: 2px;
	}

	& > a {
		border: none;
	}
}

.miembros {
	text-align: center;
}
.unSurrealista {
	color: #fff;
	border: none;

	display: inline-block;
	width: 128px;
	margin: 10px;

	& > img {
		display: block;
		width: 128px;
		height: 128px;

		@include border-radius(64px);
		@include scale(1);
		@include transition(0.2s ease all);
	}

	&:hover > img {
		@include scale(1.1);
	}

	& > h3 {
		margin: 10px 0;
		font-size: 12px;
		text-align: center;
	}
}

.icono {
	font-family: "social";
}

@media screen and (min-width: 600px) {
	header {
		& > h1 {
			font-size: 48px;
		}
		& > p {
			font-size: 24px;
		}
	}

	.opcionContacto {
		width: 50%;
		float: left;
	}
}

@include hidpi {
	#logo {
		background-image: url(/logo@2x.png);
	}
}